
@{
    ViewBag.Title = "Form Calculator";
}

<h2>Simple Calculator With A Form</h2>

<form action="~/FormCalculator/Calculate" method="post" class="">

    <div class="form-group">
        <label for="number1" class="control-label">Number 1: </label>
        <input name="number1" type="text" class="form-control" value="0" required />
    </div>

    <div class="form-group">
        <label for="number2" class="control-label">Number 2: </label>
        <input name="number2" type="text" class="form-control" value="0" required />
    </div>

    <div class="form-group">
        <label for="operation" class="control-label">Operator: </label>
        <select name="operation" class="form-control" required>
            <option value="">Choose an operation...</option>
            <option value="add">Add</option>
            <option value="subtract">Subtract</option>
            <option value="multiply">Multiply</option>
            <option value="divide">Divide</option>
            <option value="factorial">Factorial (number 1)</option>
        </select>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" name="submitButton" class="form-control" />
        <input type="reset" value="Clear Form" name="resetButton" class="form-control" />
    </div>

</form>
