@{
    ViewBag.Title = "Calculator WebApp - Taylor Jacobson";
}

<div class="jumbotron">
    <h1>Calculator Assignment</h1>
    <p class="lead">Calculator WebApp created by Taylor Jacobson for CIT 218</p>
   
</div>

<div class="row">
    <p><a href="../URLCalculator/">URL Calculator</a></p>
    <p><a href="../FormCalculator/">Form Calculator</a></p>
    <p><a href="../TableGenerator/">Multiplication Table Generator</a></p>
</div>